{% load static %} 

<header>
    <nav class="navbar day-color-bg" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-vcentered nav-logo" href="{% url 'home' %}">
                Reddit Clone
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
         
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'home' %}">
                Home
            </a>
            <a class="navbar-item" href="{% url 'about' %}">
                About
            </a>
            <a class="navbar-item" href="{% url 'contact' %}">
                Contact
            </a>
        </div>

        <div class="navbar-end">
            {% if user.is_authenticated %}
            <div class="navbar-item">
                <span>
                    Welcome, {{ user.email }}
                </span>
                <form method="post" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <div class="buttons">
                        <button type="submit" class="button day-color night-color-bg">
                            Log out
                        </button>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button day-color night-color-bg" href="{% url 'accounts:login' %}">
                        Log in
                    </a>
                    <a class="button is-light" href="{% url 'accounts:register' %}">
                        Sign up
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </nav>
</header>